<main class="container">
    <h2 class="text-center">Black and White Spa</h2>

    <div class="container">
        <form action="/image" method="get">
            <div class="mb-3">
                <label for="imagenURL" class="form-label">Imagen URL:</label>
                <input type="text" class="form-control" id="imagenURL" name="url">
            </div>
            <button type="submit" class="btn btn-outline-light">Subir imagen al servidor</button>
        </form>
    </div>
</main>